@charset "UTF-8";


@media print {
   *{
    font-family: 'Courier New', Courier, monospace;
   }
   
    body {
        background-image:url(../imagens/back-print.jpg)
        }

        main {
            border: 2px solid black;
        }

        main::after {
            content: "Esse site foi feito por brayon com conhecimentos do curso do guanabara de HTML5 e CSS3 do canal curso em video.";
            text-decoration: overline;
        }

        main h1 {
            text-shadow: none;
            color: black;
        }

        img#celular { display: none;}
        img#tablet { display: none;}
        img#print { display: block;}
        img#pc { display: none;}
        img#tv { display: none;}
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
       } 
        
       
        img#celular { display: none;}
        img#tablet { display: block;}
        img#print { display: none;}
        img#pc { display: none;}
        img#tv { display: none;}
    
            
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
     body{
        background-image: url(../imagens/back-pc.jpg);
     }

        img#celular { display: none;}
        img#tablet { display: none;}
        img#print { display: none;}
        img#pc { display: block;}
        img#tv { display: none;}
     
}

@media screen and (min-width: 1440px) {
    body {
        background-image:url(../imagens/back-tv.jpg);
    }

        img#celular { display: none;}
        img#tablet { display: none;}
        img#print { display: none;}
        img#pc { display: none;}
        img#tv { display: block;}
}